body{
  background-color: #fcfcfc;
}

footer.page-footer{
  margin-top: 30px;
  padding-top: 0px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#login-card {
  margin-top: 10%;
  margin-left: 29%;
}

@media only screen and (max-width: 600px){
  #login-card {
    /*visibility: hidden;*/
    margin-left: 0px;
  }
}

@media only screen and (max-width: 992px){
  #login-card {
    /*visibility: hidden;*/
    /*margin-top: 20%;
    margin-left: 19%;*/
  }
}

.input-field label {
 color: lightgrey;
}

.input-field input[type=email]:focus + label {
 color: white;
}

.input-field input[type=email]:focus {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}

.input-field input[type=email].valid {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}

.input-field input[type=password]:focus + label {
 color: white;
}

.input-field input[type=password]:focus {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}

.input-field input[type=password].valid {
 border-bottom: 1px solid white;
 box-shadow: 0 1px 0 0 white;
}

.input-field .prefix.active {
 color: white;
}

.input-field {
  color: white;
}
